<mat-toolbar color="primary">
<button mat-icon-button class="example-icon"
	aria-label="Example icon-button with menu icon">
	<mat-icon>menu</mat-icon>
</button>
<span>PI Calculator</span> <span class="example-spacer"></span>
<button mat-icon-button class="example-icon favorite-icon"
	aria-label="Example icon-button with heart icon">
	<mat-icon>face</mat-icon>
</button>
<button mat-icon-button class="example-icon"
	aria-label="Example icon-button with share icon"
	[routerLink]="['/launch']">
	<mat-icon>logout</mat-icon>
</button>
</mat-toolbar>

<div class="main-container">
	<div class="section-container">
		<form [formGroup]="projectForm" (ngSubmit)="createProject()"
			class="example-form">
			<mat-card class="example-card"> <mat-card-header>

			<mat-card-title>Create a New Project</mat-card-title> <mat-card-subtitle>Enter
			the project details</mat-card-subtitle> </mat-card-header> <mat-card-content> <mat-form-field
				class="example-full-width" appearance="fill"> <mat-label>Name</mat-label>
			<input type="text" matInput placeholder="Pat Smith"
				formControlName="name"> <mat-error *ngIf="false">
			Name is required</mat-error> </mat-form-field> <mat-form-field class="example-full-width"
				appearance="fill"> <mat-label>Description</mat-label>
			<textarea matInput placeholder="Ex. It makes me feel..."
				formControlName="description"></textarea> <mat-error *ngIf="false">
			Description is required</mat-error> </mat-form-field> <mat-form-field appearance="fill"
				class="example-full-width"> <mat-label>Type</mat-label>
			<select matNativeControl required formControlName="type">
				<option value=""></option>
				<option *ngFor="let type of projectTypes" value="type">{{type}}</option>
			</select> </mat-form-field> <mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Location</mat-label>
			 <input type="text" matInput
				placeholder="London" formControlName="location"> <mat-error
				*ngIf="false"> Name is required</mat-error> </mat-form-field>
				
				<mat-form-field class="example-full-width" appearance="fill">
			<mat-label>Duration</mat-label>
			
			
			 <input type="number" matInput
				placeholder="2" formControlName="duration"> <mat-error
				*ngIf="false"> Duration is required</mat-error> </mat-form-field> 
				
				 </mat-card-content> </mat-card>

			<mat-card class="example-card"  formGroupName="fund"> <mat-card-header>

			<mat-card-title>Fund Raise Details</mat-card-title> <mat-card-subtitle>Enter
			the fund details</mat-card-subtitle> </mat-card-header> <mat-card-content>

			
			<mat-form-field
				class="example-full-width" appearance="fill"> <mat-label>Amount</mat-label>
				<span matPrefix>$ &nbsp;</span>
			<input type="number" matInput placeholder="000"
				formControlName="amount"> <mat-error *ngIf="false">
			Amount is required</mat-error> </mat-form-field>
			
			
			
			<table class="example-full-width" cellspacing="0" formGroupName="sellingPrice">
				<tr>
					<td><mat-form-field class="example-full-width"
							appearance="fill"> <mat-label>Selling Price</mat-label> 
							<span matPrefix>$ &nbsp;</span>
							<input matInput type="number" placeholder="000"
				formControlName="amount"> 
							</mat-form-field></td>
					<td><mat-form-field class="example-full-width"
							appearance="fill"> <mat-label>Source</mat-label> 
							<input matInput type="text" formControlName="source"> 
							</mat-form-field></td>
				</tr>
			</table>

			</mat-card-content> <mat-card-actions>
			<button type="submit" mat-raised-button color="primary"
				[disabled]="!projectForm.valid">Create</button>
			<button type="reset" mat-raised-button color="accent">Reset</button>
			<button type="reset" mat-raised-button [routerLink]="['/home']">Cancel</button>

			</mat-card-actions> </mat-card>
		</form>
	</div>
</div>
