.grid-container {
	margin: 20px;
}

.dashboard-card {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
}

.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}


.example-spacer {
	flex: 1 1 auto;
}

table {
	width: 100%;
}

.mat-form-field {
	font-size: 14px;
	width: 100%;
}

td, th {
	width: 25%;
}

.app-main-scroll {
	overflow-y: scroll;
	height: 360px;
}

.demo-button-container {
	text-align: left;
	padding-bottom: 5px;
	padding-top: 10px;
}

.demo-button+.demo-button {
	margin-left: 8px;
}